{% extends "govuk/template.njk" %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  {% if isDev %}
  <style type="text/css" nonce="{{ cspNonce }}">
  .govuk-template__body {
    border: 10px solid red;
  }
  </style>
  {% endif %}

  <script src="/assets/js/jquery.min.js"></script> 
  <script src="/assets/js/dataTables.min.js"></script>
  {# <script src="/assets/js/dataTables.searchPanes.min.js"></script> #}
  <script src="/assets/js/dataTables.select.min.js"></script>
  <script src="/assets/js/dataTables.buttons.min.js"></script>
  <script src="/assets/js/buttons.html5.min.js"></script>
  <script src="/assets/js/buttons.colVis.min.js"></script>
  <script src="/assets/js/buttons.print.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          nonce="{{ cspNonce }}"
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>
  <link href="/assets/css/dataTables.dataTables.min.css" media="screen" rel="stylesheet" nonce="{{ cspNonce }}" type="text/css" />
  <link href="/assets/css/buttons.dataTables.min.css" media="screen" rel="stylesheet" nonce="{{ cspNonce }}" type="text/css" />
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
  {# % include "./userResearchBanner.njk" % #}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://tech-docs.hmpps.service.justice.gov.uk/",
          text: "HMPPS Tech Docs"
        },
        {
          href: "slack://channel?team=T02DYEB3A&amp;id=C06MWP0UKDE",
          text: "#ask-prisons-digital-sre (opens Slack)"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
{% endblock %}
