version: '3.1'
services:

  redis-dev-portal:
    image: 'redis:8.2'
    networks:
      - hmpps
    container_name: redis-dev-portal
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  app:
    build: .
    networks:
      - hmpps
    depends_on: [redis-dev-portal]
    ports:
      - "3000:3000"
    environment:
      - REDIS_HOST=redis-dev-portal
      - PRODUCT_ID=${PRODUCT_ID}
      - SESSION_SECRET=${SESSION_SECRET}
      - SERVICE_CATALOGUE_URL=${SERVICE_CATALOGUE_URL}
      - SERVICE_CATALOGUE_API_KEY=${SERVICE_CATALOGUE_API_KEY}
      - NODE_ENV=${NODE_ENV}
networks:
  hmpps:
