
.alert-selectors .govuk-form-group {
    display: flex;
    align-items: baseline;
  }

.alert-selectors .govuk-form-group .govuk-label {
  margin-right: 10px;
}

// Silenced alerts are green and unsilenced are red
[data-silenced="active"] {
  background-color: govuk-colour('red') !important;
}

[data-silenced="suppressed"] {
  background-color: #990 !important;
}