
#dashboard-alerts-popup {
  border-left: 5px solid govuk-colour("red");
  background-color: govuk-colour("red", $variant: "tint-80")
}

#dashboard-veracode-popup {
  border-left: 5px solid govuk-colour("purple");
  background-color: govuk-colour("purple", $variant: "tint-80")
}

#dashboard-upgrade-popup {
  border-left: 5px solid govuk-colour("blue");
  background-color: govuk-colour("blue", $variant: "tint-80")
}
