.govuk-main-wrapper {
  min-height: 600px;
}

table {
  width: 100%;
  
  th {
    background-color: grey;
    color: white;
    padding: 3px;
  }

  td {
    padding: 3px;
  }
}

.statusTileUp {
  background-color: govuk-colour('green');
}

.statusTileDown {
  background-color: govuk-colour('red');
}

.monitor-selectors {
  align-items: flex-end;
}

.govuk-form-group {
  margin-bottom: 0;
}

.govuk-button-group .govuk-button {
  margin-bottom: 2px;
  margin-left: 5px;
}

.govuk-form-group {
  width: 20%;
}
