.govuk-main-wrapper {
  min-height: 600px;
}

#statusTable {
  width: 100%;

  tr {
    background-color: grey;

    &.statusTileUp {
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      background-color: govuk-colour('red');
    }

    &.statusTileStale {
      background-color: #999900;
    }
  }

  th, td {
    color: white;
    padding: govuk-spacing(1);

    a:link, a:visited {
      color: white;
    }
  }
}

#graph-svg {
  border: black;
  overflow: hidden;
  border-style: solid;
  padding-top: govuk-spacing(5);
}

#dependencyDriftTable {
  width: 100%;
  thead {
    tr {
      background-color: grey;
    }
    button, th {
      color: white;
    }
  }

  .env {
    display: inline-block;
    width: 92px;
  }
}

.monitor-selectors {
  &.govuk-button-group .govuk-button {
    margin-bottom: -3px;
  }

  &.govuk-button-group .govuk-form-group select {
    max-width: 8em;
    min-width: 7em;
  }

  &.govuk-button-group > div {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
}

.veracodeFilter, .trivyFilter, .alertsFilter {
  .label-and-button {
    .govuk-button {
      margin: 0 0 0 0;
    }
    .govuk-form-group {
      display: inline-flex;
      margin: 0 0 0 0;

      label {
        margin: 10px 10px 0 0;
        font-weight: bold;
      }
    }
  }
}

.govuk-checkboxes--inline:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-checkboxes--inline .govuk-checkboxes__item {
  margin-right: 20px;
  float: left;
  clear: none;
}

.button-spinner-wrapper {
  position: relative;
  display: inline-block;
}

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  pointer-events: none; /* allows clicks to pass through */
}

.govuk-spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #b1b4b6;
  border-top-color: #1d70b8;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.wide-screen {
  max-width: 96%;
}

#teamsTable {
  column-width: auto;
  th, td, img{
    padding: govuk-spacing(1);
    vertical-align: middle;
  }
}

#githubTeamsTable {
  width: 100%;

  th, td {
    padding: govuk-spacing(1);
    vertical-align: middle;
    &.description {
      width: 20%;
    }
    &.members {
      width: 20%;
    }
    &.terraform {
      width: 5%;
    }
  }
}

#componentsTable {
  width: 100%;

  th, td {
    padding: govuk-spacing(1);
    vertical-align: middle;
    &.githubTeams {
      width: 20%;
    }
  }
}

.banner {
  background-color: #f4f4f4;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  border-top: 2px solid #ccc;
}

.componentData {
  th, td, img{
    padding: govuk-spacing(1);
    vertical-align: middle;
  }

  th {
    text-align: right;
    background-color: govuk-colour('light-grey');

    &.govuk-table__header {
      text-align: left;
    }
  }

  tr td {
    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  tr:nth-of-type(2n + 1) td {
    background-color: govuk-colour('light-grey');

    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  pre {
    font-size: 0.9rem;
    overflow-x: scroll;
    max-width: 60em;
    max-height: 40em;
    scroll-behavior: auto;
    padding: govuk-spacing(1);
    font-family: Courier, monospace;
    color: white;
    background-color: black;
    white-space: pre-wrap;
  }
}

#healthOutputSelected {
  color: white;
  font-family: Courier, monospace;
  padding: govuk-spacing(1);
  background-color: black;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.veracode .govuk-form-group {
  margin: 0;
}

.veracode-filter-block {
  display: flex;
  align-items: center;
}

.veracode-filter-block > :first-child.govuk-heading-s {
  margin: 0 govuk-spacing(2) 0 0;
}

.veracode--missing {
  background-color: govuk-colour('light-grey');
}

.veracode--passed {
  color: white;
  background-color: govuk-colour('green');
}

.veracode--failed {
  color: white;
  background-color: govuk-colour('red');
}

.td-nowrap {
  white-space: nowrap;
}

.monitor .govuk-form-group {
  margin: 0;
}

.monitor-filter-block {
  display: flex;
  align-items: center;
}

.monitor-filter-block > :first-child.govuk-heading-s {
  margin: 0 govuk-spacing(2) 0 0;
}

#trivyTable .govuk-details {
  margin-bottom: 0;
}

#showHideBlock a {
  margin: 0 10px;
}


.app-\!-width-one-fifth{
  width: 20% !important
}

.app-\!-width-one-sixth{
    width: 16.66% !important
}

.app-\!-width-one-seventh{
  width: 14.29% !important
}

.componentsActiveAgencies {
  max-width: 100px;
  white-space: nowrap
}

#trivyScansTable {
  width: 100%;
  overflow-x: auto; // Enables horizontal scrolling if the table overflows

  th, td {
    padding: govuk-spacing(1);
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.name {
      width: 80px;
      min-width: 80px;
      max-width: 100px;
    }
    &.environments {
      width: 20px;
    }
    &.count,
    &.result{
      width: 10px !important;
    }

    &.cve {
      width: 120px;
      min-width: 100px;
      max-width: 140px;
    }
  }
}

.trivyData {
  th, td, img{
    padding: govuk-spacing(1);
    vertical-align: top;
  }

  th {
    text-align: center;
    background-color: govuk-colour('light-grey');

    &.govuk-table__header {
      text-align: left;
    }
  }
  tr:nth-of-type(2n + 1) td {
    background-color: govuk-colour('light-grey');
  }

  &.category {
    width: 10%
  }
  &.severity {
    width: 10%
  }
  &.description {
    width: 30%
  }
  &.filePath {
    width: 20%
  }
  &.lineNumber {
    width: 10%
  }
  &.context {
    width: 20%
  }
  &.vulnertabilityId {
    width: 15%
  }
  &.package {
    width: 10%
  }
  &.version {
    width: 10%
  }

}

.trivyData tr.trivyCritical, .trivyData tr.trivyCritical td {
  background-color: govuk-colour('red');
  color: white;
}

.trivy-icon {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.alertsAndScansCard {
  .govuk-summary-card__content {
    .totalNumber {
      @include govuk-font($size: 48);
      font-weight: bold;
      margin-bottom: 0;
      padding: 0;
    }
    .alertsAndScansBox {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// For update buttons on filterDropDowns partial when page is bigger than 640px
@media(width > 640px) {
  .monitor-selectors {
    &.govuk-button-group {
      margin-bottom: 0;
    }
  }

  .monitor-selectors {
    &.govuk-button-group .govuk-button {
      margin-bottom: 2px;
    }
  }

  // styling for product page
  #product-alert-popup {
    .govuk-table__cell {
      white-space: normal;
      word-break: break-word;
      width: 100%;
    }
  }

  #product-alert-popup, .vulnerability-alert-banner {
    border-left: 5px solid #d4351c;
    background-color: #fef1f0
  }

  #product-alert-popup {
    .govuk-table {
      table-layout: fixed;
      width: 100%;
    }
  }

  #component-alert-popup {
    .govuk-table__cell {
      white-space: normal;
      word-break: break-word;
      width: 100%;
    }
  }

  // styling for component page
  #component-alert-popup, .vulnerability-alert-banner {
    border-left: 5px solid #d4351c;
    background-color: #fef1f0
  }

  #component-alert-popup {
    .govuk-table {
      table-layout: fixed;
      width: 100%;
    }
  }

  #component-alert-popup {
    .govuk-table__cell {
      white-space: normal;
      word-break: break-word;
    }
  }

  #dependency-alert-popup {
    border-left: 5px solid #f15406;
    background-color: rgba(255, 205, 155, 0.62)
  }

  #dependency-alert-popup {
    .govuk-table {
      table-layout: fixed;
      width: 100%;
    }
  }
  #dependency-alert-popup {
    .govuk-table__cell {
      white-space: normal;
      word-break: break-word;
    }
  }
}

.govuk-link--no-visited-state.request-submitted-link {
  color: white;
  font-weight: bold;
  white-space: preserve nowrap;
}
