.govuk-main-wrapper {
  min-height: 600px;
}

#statusTable {
  width: 100%;

  tr {
    background-color: grey;

    &.statusTileUp {
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      background-color: govuk-colour('red');
    }
  }
  
  th, td {
    color: white;
    padding: govuk-spacing(1);

    a:link, a:visited {
      color: white;
    }
  }
}

.monitor-selectors {
  align-items: flex-end;

  &.govuk-button-group .govuk-button {
    margin-bottom: 2px;
    margin-left: govuk-spacing(1);
  }

  & .govuk-form-group {
    margin-bottom: 0;
    width: 20%;
  }
}

.govuk-checkboxes--inline:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-checkboxes--inline .govuk-checkboxes__item {
  margin-right: 20px;
  float: left;
  clear: none;
}

.componentData {
  th, td {
    padding: govuk-spacing(1);
  }

  th {
    text-align: right;
    vertical-align: top;
    background-color: govuk-colour('light-grey');
  }

  tr td {
    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  tr:nth-of-type(2n + 1) td {
    background-color: govuk-colour('light-grey');

    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  pre {
    font-size: 0.9rem;
    overflow-x: scroll;
    max-width: 60em;
    max-height: 40em;
    scroll-behavior: auto;
    padding: govuk-spacing(1);
    font-family: Courier, monospace;
    color: white;
    background-color: black;
    white-space: pre-wrap;
  }
}

#healthOutputSelected {
  color: white;
  font-family: Courier, monospace;
  padding: govuk-spacing(1);
  background-color: black;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.veracode--missing {
  background-color: govuk-colour('light-grey');
}

.veracode--passed {
  color: white;
  background-color: govuk-colour('green');
}

.veracode--failed {
  color: white;
  background-color: govuk-colour('red');
}
