.govuk-main-wrapper {
  min-height: 600px;
}

#statusTable {
  width: 100%;

  tr {
    background-color: grey;

    &.statusTileUp {
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      background-color: govuk-colour('red');
    }
  }
  
  th, td {
    color: white;
    padding: govuk-spacing(1);

    a:link, a:visited {
      color: white;
    }
  }
}

#graph-svg {
  border: black;
  overflow: hidden;
  border-style: solid;
  padding-top: govuk-spacing(5);
}

#dependencyDriftTable {
  width: 100%;
  thead {
    tr {
      background-color: grey;
    }
    button, th {
      color: white;
    }
  }

  .env {
    display: inline-block;
    width: 92px;
  }
}

.monitor-selectors {
  align-items: flex-end;

  &.govuk-button-group .govuk-button {
    margin-bottom: 2px;
    margin-left: govuk-spacing(1);
  }

  & .govuk-form-group {
    margin-bottom: 0;
    width: 20%;
  }
}

.govuk-checkboxes--inline:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-checkboxes--inline .govuk-checkboxes__item {
  margin-right: 20px;
  float: left;
  clear: none;
}

.radiator-circle-link {
  margin-left: 30px;
}
.radiator-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  .radiator-tile {
    flex: 0 0 320px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-style: groove;
    .radiator-indicator {
      height: 1em;
      margin-bottom: 5px;
      width: 100%; 
      &.dev {
        background-color: rgb(140, 191, 64);
      }
      &.awaiting-version {
        background-color: grey;
      }
    }
    .tile-value {
       float: right;
    }
 }
}

.wide-screen {
  max-width: 96%;
}

#teamsTable {
  th, td, img{
    padding: govuk-spacing(1);
    vertical-align: middle;
  }
}

.componentData {
  th, td, img{
    padding: govuk-spacing(1);
    vertical-align: middle;
  }

  th {
    text-align: right;
    background-color: govuk-colour('light-grey');

    &.govuk-table__header {
      text-align: left;
    }
  }

  tr td {
    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  tr:nth-of-type(2n + 1) td {
    background-color: govuk-colour('light-grey');

    &.statusTileUp {
      color: white;
      background-color: govuk-colour('green');
    }

    &.statusTileDown {
      color: white;
      background-color: govuk-colour('red');
    }
  }

  pre {
    font-size: 0.9rem;
    overflow-x: scroll;
    max-width: 60em;
    max-height: 40em;
    scroll-behavior: auto;
    padding: govuk-spacing(1);
    font-family: Courier, monospace;
    color: white;
    background-color: black;
    white-space: pre-wrap;
  }
}

#healthOutputSelected {
  color: white;
  font-family: Courier, monospace;
  padding: govuk-spacing(1);
  background-color: black;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.veracode--missing {
  background-color: govuk-colour('light-grey');
}

.veracode--passed {
  color: white;
  background-color: govuk-colour('green');
}

.veracode--failed {
  color: white;
  background-color: govuk-colour('red');
}

.td-nowrap {
  white-space: nowrap;
}

.monitor .govuk-form-group {
  margin: 0;
}

.monitor-filter-block {
  display: flex;
  align-items: center;
}

.monitor-filter-block > :first-child.govuk-heading-s {
  margin: 0 govuk-spacing(2) 0 0;
}

#trivyTable .govuk-details {
  margin-bottom: 0;
}

#showHideBlock a {
  margin: 0 10px;
}
