{% extends "../partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Alerts V2" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{%- set applicationNames = [{text: '', selected: false}] -%}

{%- set namespaces = [{text: '', selected: false}] -%}
{%- set severityLabels = [{text: '', selected: false}] -%}
{%- for applicationName in applicationNameList -%}
  {%- set applicationNames = (applicationNames.push({
    text: applicationName.text,
    selected: applicationName.selected
  }), applicationNames) -%}
{%- endfor -%}
{%- for environment in environmentList -%}
  {%- set environments = (environments.push({
    text: environment.text,
    selected: environment.selected
  }), environments) -%}
{%- endfor -%}
{%- for namespace in namespaceList -%}
  {%- set namespaces = (namespaces.push({
    text: namespace.text,
    selected: namespace.selected
  }), namespaces) -%}
{%- endfor -%}
{%- for severityLabel in severityList -%}
  {%- set severityLabels = (severityLabels.push({
    text: severityLabel.text,
    selected: severityLabel.selected
  }), severityLabels) -%}
{%- endfor -%}

{% block content %}
{{ breadCrumb("Alerts DataTable!", []) }}
  <h1>Alerts V2 - DataTable</h1>

  <p id="alertsFetchStatus"></p>

    <div class="alertsFilter govuk-button-group">
        <div class="label-and-button">
            {{ govukSelect({
                id: "team",
                name: "team",
                label: {
                text: "Team"
                },
                items: team
            }) }}
            {{ govukButton({
                id: "updateTeam",
                name: "updateTeam",
                text: "Update",
                element: "button",
                attributes: { "data-associated-select-id": "team", "data-type-name": "teams"}
            }) }}
        </div>
    </div>
  
  <p id="lastUpdated"></p>

  <table id="alertsTable" class="stripe display" style="width:100%; word-break:break-word" cellspacing="0">
    <thead>
      <tr>
        <th>Alertname</th>
        <th>Started at</th>
        <th>Message</th>
        <th>Slack Channel</th>
        <th>Links</th>
        <th>Team</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Alertname</th>
        <th>Started at</th>
        <th>Message</th>
        <th>Slack Channel</th>
        <th>Links</th>
        <th>Team</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  <script src="/assets/js/dayjs/dayjs.min.js"></script>
  <script src="/assets/js/dayjs/plugin/relativeTime.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/alertsDataTable.js"></script>
{% endblock %}
