{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Components" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Components", []) }}

  <div class="banner">
    <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
  </div>
  <h1>Components</h1>

  <table id="componentsTable" class="stripe">
		<thead>
			<tr>
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>GitHub Repository</th>
				<th>GitHub Admin Enforce branch protection</th>
				<th>Production Slack Channel</th>
				<th class="githubTeams">GitHub Teams</th>
				<th class="githubTeams">GitHub Admin Teams</th>
				<th class="githubTeams">GitHub Write Teams</th>
				<th class="githubRTeams">GitHub Maintain Teams</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>GitHub Repository</th>				
				<th>GitHub Admin Enforce branch protection</th>
				<th>Production Slack Channel</th>
				<th class="githubTeams">GitHub Teams</th>
				<th class="githubTeams">GitHub Admin Teams</th>
				<th class="githubTeams">GitHub Write Teams</th>
				<th class="githubTeams">GitHub Maintain Teams</th>
			</tr>
		</tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/components.js"></script>
{% endblock %}
