{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %} 
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-one-half">
    {% include 'partials/errorSummary.njk' %}
    <h1 class="govuk-heading-xl">Component Request Form</h1>
    <p>After submitting this form, the SRE team will run the bootstrap to create the github repo and service catalogue entries. </p>
    <p><i><b>Note:</b> fields marked '*' are required.</i></p>
    <form action="/component-requests/new" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukInput({
        id: "github_repo",
        name: "github_repo",
        value: submittedForm.github_repo,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Github repository name *",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "This must start with 'hmpps-' and contain only alphanumeric characters and hyphens (-)"
        },
        errorMessage: validationErrors | findError('github_repo')
      }) }}
      {{ govukTextarea({
        id: "repo_description",
        name: "repo_description",
        value: submittedForm.repo_description,
        classes: "govuk-!-width-two-third",
        label: {
          text: "Github repository description *",
          classes: "govuk-fieldset__legend--s"
        },
        errorMessage: validationErrors | findError('repo_description')
      }) }}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "base_template",
        name: "base_template",
        value: submittedForm.base_template,
        errorMessage: validationErrors | findError('base_template'),
        fieldset: {
          legend: {
            text: "Github template repository *",
            classes: 'govuk-fieldset__legend--s'
          }
        },
        items: [
          {
            value: "hmpps-template-kotlin",
            text: "hmpps-template-kotlin"
          },
          {
            value: "hmpps-template-typescript",
            text: "hmpps-template-typescript"
          },
          {
            value: none",
            text: "No template (create from scratch)"
          }]
      }) }}
      {{ govukSelect({
        id: "github_project_visibility",
        name: "github_project_visibility",
        value: submittedForm.github_project_visibility,
        label: {
          text: "Github project visibility *",
          classes: "govuk-fieldset__legend--s"
        },
        items: [
          {
            value: "public",
            text: "Public"
          },
          {
            value: "private",
            text: "Private"
          },
          {
            value: "internal",
            text: "Internal"
          }
        ],
        errorMessage: validationErrors | findError('github_project_visibility')
      }) }}

      {{ govukSelect({
        id: "product",
        name: "product",
        label: {
          text: "Product *",
          classes: "govuk-fieldset__legend--s"
        },
        items: productList | toSelect("value", "text", submittedForm.product  ),
        errorMessage: validationErrors | findError('product')
      }) }}
      {{ govukInput({
        id: "jira_project_keys",
        name: "jira_project_keys",
        value: submittedForm.jira_project_keys,
        classes: "govuk-!-width-one-third",
        label: {
          text: "Jira project key",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
      {{ govukInput({
        id: "github_projects_teams_admin",
        name: "github_projects_teams_admin",
        value: submittedForm.github_projects_teams_admin,
        errorMessage: validationErrors | findError('github_projects_teams_admin'),
        classes: "govuk-!-width-two-third",
        label: {
          text: "Github repository admin teams *",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "Separated by comma eg: hmpps-developers,haha"
        }
      }) }}
      {{ govukInput({
        id: "github_project_teams_write",
        name: "github_project_teams_write",
        value: submittedForm.github_project_teams_write,
        errorMessage: validationErrors | findError('github_project_teams_write'),
        classes: "govuk-!-width-two-third",
        label: {
          text: "Github repository reams with write permissions",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "Separated by comma eg: hmpps-developers,haha"
        }
      }) }}
      {{ govukInput({
        id: "github_project_branch_protection_restricted_teams",
        name: "github_project_branch_protection_restricted_teams",
        value: submittedForm.github_project_branch_protection_restricted_teams,
        errorMessage: validationErrors | findError('github_project_branch_protection_restricted_teams'),
        classes: "govuk-!-width-two-third",
        label: {
          text: "Github project branch protection restricted teams",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "Separated by comma eg: hmpps-developers,haha"
        }
      }) }}
      <h2>Slack channels</h2>
      <p>Please enter a Slack channel ID (preferred) or Slack channel name (without '#')</p>
      <p><i><b>Note:</b> If a Slack channel is private, please invite <b>@HMPPS SRE Slack Bot</b> to the channel</i></p>
      {{ govukInput({
        id: "slack_channel_prod_release_notify",
        name: "slack_channel_prod_release_notify",
        value: submittedForm.slack_channel_prod_release_notify,
        errorMessage: validationErrors | findError('slack_channel_prod_release_notify'),
        classes: "govuk-!-width-one-half",
        label: {
          text: "Slack channel for production release notifications *",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
        {{ govukInput({
        id: "slack_channel_nonprod_release_notify",
        name: "slack_channel_nonprod_release_notify",
        value: submittedForm.slack_channel_nonprod_release_notify,
        classes: "govuk-!-width-one-half",
        label: {
          text: "Slack channel for non-production release notifications",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
      {{ govukInput({
        id: "slack_channel_security_scans_notify",
        name: "slack_channel_security_scans_notify",
        value: submittedForm.slack_channel_security_scans_notify,
        errorMessage: validationErrors | findError('slack_channel_security_scans_notify'),
        classes: "govuk-!-width-one-half",
        label: {
          text: "Slack channel for security scan notifications *",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
      <h2>Alert severity</h2>
      <p>For configuring alert severity labels, please first see <a href="https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts/">this document.</a></p>
      {{ govukInput({
        id: "nonprod_alerts_severity_label",
        name: "nonprod_alerts_severity_label",
        value: submittedForm.nonprod_alerts_severity_label,
        errorMessage: validationErrors | findError('nonprod_alerts_severity_label'),
        classes: "govuk-!-width-one-third",
        label: {
          text: "Non-prod Alertmanager severity label *",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "The k8s alerts severity label used by prometheus to route alert notifications to slack"
        }
      }) }}
        {{ govukInput({
        id: "prod_alerts_severity_label",
        name: "prod_alerts_severity_label",
        value: submittedForm.prod_alerts_severity_label,
        errorMessage: validationErrors | findError('prod_alerts_severity_label'),
        classes: "govuk-!-width-one-third govuk-fieldset__legend--s",
        label: {
          text: "Production Alertmanager severity label *",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "The k8s alerts severity label used by prometheus to route alert notifications to slack"
        }
      }) }}
      <h2>Contact details</h2>
      <p>Please enter your contact details to send notifications to after processing your request.</p>
      {{ govukInput({
        id: "requester_name",
        name: "requester_name",
        value: submittedForm.requester_name,
        errorMessage: validationErrors | findError('requester_name'),
        classes: "govuk-!-width-one-half govuk-fieldset__legend--s",
        label: {
          text: "Requester name *",
          classes: "govuk-fieldset__legend--s"
        }
      }) }}
      {{ govukInput({
        id: "requester_email",
        name: "requester_email",
        value: submittedForm.requester_email,
        errorMessage: validationErrors | findError('requester_email'),
        classes: "govuk-!-width-two-third govuk-fieldset__legend--s",
        label: {
          text: "Requester Email address *",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          text: "Must be an @digital.justice.gov.uk email account"
        }
      }) }}
      {{ govukSelect({
        id: "requester_team",
        name: "requester_team",
        value: submittedForm.requester_team,
        selected: true,
        label: {
          text: "Team *",
          classes: "govuk-fieldset__legend--s"
        },
        items: teamList,
        errorMessage: validationErrors | findError('requester_team')
      }) }}
      {{ govukButton({
        id: "submitdata",
        name: "submitdata",
        text: "Submit",
        element: "button",
        preventDoubleClick: true,
        attributes: { "data-test": "submit" }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
