{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Components" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Components", []) }}

  <h1>Components</h1>

  <table id="componentsTable" class="stripe">
		<thead>
			<tr>
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Github Repository</th>
				<th>Github Admin Enforce branch protection</th>
				<th>Production Slack Channel</th>
				<th class="githubteams">Github Teams</th>
				<th class="githubteams">Github Admin Teams</th>
				<th class="githubteams">Github Write Teams</th>
				<th class="githubteams">Github Maintain Teams</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Github Repository</th>				
				<th>Github Admin Enforce branch protection</th>
				<th>Production Slack Channel</th>
				<th class="githubteams">Github Teams</th>
				<th class="githubteams">Github Admin Teams</th>
				<th class="githubteams">Github Write Teams</th>
				<th class="githubteams">Github Maintain Teams</th>
			</tr>
		</tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/components.js"></script>
{% endblock %}
