{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Component Request Form Option Selection" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}


{% block content %}

{{ breadCrumb("Component Request Form Option Selection", []) }}

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-one-half">
    {% include 'partials/errorSummary.njk' %}
    <h1 class="govuk-heading-xl">Component Request Form Selection</h1>
    <form action="/component-requests/choice" method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "option",
        name: "option",
        value: submittedForm.option,
        errorMessage: validationErrors | findError('option'),
        fieldset: {
          legend: {
            text: "Select component request type",
            classes: 'govuk-fieldset__legend--s'
          }
        },
        items: [
          {
            value: "Add",
            text: "Add"
          },
          {
            value: "Archive",
            text: "Archive"
          }]
      }) }}
      {{ govukInput({
        id: "github_repo",
        name: "github_repo",
        value: submittedForm.github_repo,
        classes: "govuk-!-width-one-half",
        label: {
          text: "GitHub repository name",
          classes: "govuk-fieldset__legend--s"
        },
        hint: {
          html: "This must start with 'hmpps-' and contain only alphanumeric characters and hyphens (-). Ensure that new components meet the " + '<a class="govuk-link--no-visited-state" href="https://tech-docs.hmpps.service.justice.gov.uk/service-standard/service-naming/">guidance around service naming</a>.'
        },
        errorMessage: validationErrors | findError('github_repo')
      }) }}
      {{ govukButton({
        id: "next",
        name: "next",
        text: "Next",
        element: "button",
        preventDoubleClick: true,
        attributes: { "data-test": "Next" }
      }) }}
    </form>
  </div>
</div>
{% endblock %}

