{% extends "../partials/layout.njk" %}
{% from "../partials/driftRadiatorTable.njk" import driftRadiatorTable %}

{% set pageTitle = applicationName + " - " + component.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% macro githubTeams(teams) %}
  {% for team in teams %}
   <a href="/github-teams/{{team}}" target="_blank" class="govuk-link--no-visited-state">{{team}}</a>{%if not loop.last%}, {% endif %}
  {% endfor %}
{% endmacro %}

{% set breadCrumbList = [
    {title: "Products", href: "/products"},
    {title: component.product.name, href: "/products/" + component.product.slug}
  ]
%}

{{ breadCrumb(component.name, breadCrumbList) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 data-test="detail-page-title">{{ component.name }}</h1>
    {% if component.alerts | length %}
      <div class="govuk-inset-text govuk-!-margin-bottom-4" data-test="alerts" style="border-left: 5px solid #d4351c; background-color: #fef1f0;">
        <h2 class="govuk-heading-m">Active alerts</h2>
        <table class="govuk-table" style="table-layout: fixed; width: 100%;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Alert Name</th>
              <th class="govuk-table__header">Environment</th>
              <th class="govuk-table__header">Summary</th>
              <th class="govuk-table__header">Message</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% set firstAlert = component.alerts[0] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ firstAlert.alertname }}</td>
              <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ firstAlert.environment }}</td>
              <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ firstAlert.summary }}</td>
              <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Show message</span></summary>
                  <div class="govuk-details__text">{{ firstAlert.message }}</div>
                </details>
              </td>
            </tr>
            {% if component.alerts.length > 1 %}
            <tr>
              <td colspan="4" class="govuk-table__cell govuk-!-padding-0">
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Show all {{ component.alerts.length }} alerts</span></summary>
                  <table class="govuk-table" style="table-layout: fixed; width: 100%;">
                    <tbody class="govuk-table__body">
                      {% for alert in component.alerts %}
                        {% if not loop.first %}
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ alert.alertname }}</td>
                          <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ alert.environment }}</td>
                          <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ alert.summary }}</td>
                          <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">
                            <details class="govuk-details" data-module="govuk-details">
                              <summary class="govuk-details__summary"><span class="govuk-details__summary-text">Show message</span></summary>
                              <div class="govuk-details__text">{{ alert.message }}</div>
                            </details>
                          </td>
                        </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </details>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    {% endif %}

  {% set filteredItems = [] %}
    {%  for item in component.dependencyComparison.items %}
      {% if (component.language == 'Kotlin') and item.current != item.recommended and item.current != '-' and item.current and item.current < item.recommended %}
        {%  set filteredItems = filteredItems.concat([item]) %}
      {%  endif %}
    {%  endfor %}

    {%  if filteredItems.length > 0 %}
      <div class="govuk-inset-text govuk-!-margin-bottom-4" data-test="alerts" style="border-left: 5px solid #d4351c; background-color: #fef1f0;">
          <h2 class="govuk-heading-m">Incorrect Component Dependencies Found</h2>
          <table class="govuk-table" style="table-layout: fixed; width: 100%;">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Version Name</th>
              <th class="govuk-table__header">Current Dependency Version</th>
              <th class="govuk-table__header">Recommended Dependency Version</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% for item in component.dependencyComparison.items %}
              {%  if item.current != item.recommended and item.current != '-' and item.current and item.current < item.recommended %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ item.key }}</td>
                <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ item.current }}</td>
                <td class="govuk-table__cell" style="white-space: normal; word-break: break-word;">{{ item.recommended }}</td>
              </tr>
              {% endif %}
            {% endfor %}
            </tbody>
          </table>
        </div>
  {%  endif %}

    <table class="componentData">
      <tbody>
        <tr>
          <th>Description</th>
          <td data-test="description">{{ component.description }}</td>
        </tr>
        <tr>
          <th>Title</th>
          <td data-test="title">{{ component.title }}</td>
        </tr>
        <tr>
          <th>Jira Project Keys</th>
          <td data-test="jira-project-keys">
          {% if component.jiraProjectKeys | length %}
            {% for jira in component.jiraProjectKeys %}
            <a class="govuk-link--no-visited-state" target="_blank" href="https://dsdmoj.atlassian.net/browse/{{ jira }}?searchContentType=project">
            <image src="/assets/images/jira_favicon.ico" width="32" height="32"></image>
            {{ jira }} (opens Jira)
            </a>
            {% endfor %}
          {% else %}
            No Jira &#129301; - please provide one.
          {% endif %}
          </td>
        </tr>
        <tr>
          <th>GitHub Write</th>
          <td data-test="github-write">{{ githubTeams(component.githubWrite) }}</td>
        </tr>
        <tr>
          <th>GitHub Admin</th>
          <td data-test="github-admin">{{ githubTeams(component.githubAdmin) }}</td>
        </tr>
        <tr>
          <th>GitHub Restricted</th>
          <td data-test="github-restricted">{{ githubTeams(component.githubRestricted) }}</td>
        </tr>
        <tr>
          <th>GitHub Repo</th>
          <td><a class="govuk-link--no-visited-state" href="https://github.com/ministryofjustice/{{ component.githubRepo }}" target="_blank" data-test="github-repo">{{ component.githubRepo }}</a> (opens in new window)</td>
        </tr>
        <tr>
          <th>GitHub Visibility</th>
          <td data-test="github-visibility">{{ component.githubVisibility }}</td>
        </tr>
        <tr>
          <th>App Insights Cloud Role Name</th>
          <td data-test="appinsights-name">{{ component.appInsightsName }}</td>
        </tr>
        <tr>
          <th>API</th>
          <td data-test="api">{% if component.api %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
          <th>Frontend</th>
          <td data-test="frontend">{% if component.frontend %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
          <th>Part of monorepo</th>
          <td data-test="part-of-monorepo">{% if component.partOfMonorepo %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
          <th>Language</th>
          <td data-test="language">{{ component.language }}</td>
        </tr>
        <tr>
          <th>Product</th>
          <td><a class="govuk-link--no-visited-state" href="/products/{{ component.product.slug }}" data-test="product">{{ component.product.name }}</a></td>
        </tr>
        <tr>
        <th>Product Slack</th>
          <td>
          {% if component.product.slack_channel_id | length %}
            <a class="govuk-link--no-visited-state" href="slack://channel?team=T02DYEB3A&id={{ component.product.slack_channel_id }}">
            <image src="/assets/images/slack_favicon_32.png" width="32" height="32"></image>
            {% if component.product.slack_channel_name | length %}
            #{{ component.product.slack_channel_name }}
            {% else %}
            Link
            {% endif %}
            (opens slack)</a>
          {% else %}
            No product slack &#129301; - please provide one.
          {% endif %}
          </td>
        </tr>
        <tr>
          <th>Team</th>
          <td><a class="govuk-link--no-visited-state" href="/teams/{{ component.product.team.slug }}" data-test="product">{{ component.product.team.name }}</a></td>
        </tr>
        <tr>
        <tr>
        <th>Team Slack</th>
          <td>
          {% if component.product.team.slack_channel_id | length %}
            <a class="govuk-link--no-visited-state" href="slack://channel?team=T02DYEB3A&id={{ component.product.team.slack_channel_id }}">
            <image src="/assets/images/slack_favicon_32.png" width="32" height="32"></image>
            {% if component.product.team.slack_channel_name | length %}
            #{{ component.product.team.slack_channel_name }}
            {% else %}
            Link
            {% endif %}
            (opens slack)</a>
          {% else %}
            N/A
          {% endif %}
          </td>
        </tr>
        <tr>
          <th>Uses</th>
          <td data-test="dependency-types">{{ component.dependencyTypes | join(', ') }}</td>
        </tr>
        <tr>
          <th>Environments</th>
          <td>
            {% if component.envs | length %}
              {% for environment in component.envs %}
                <a class="govuk-link--no-visited-state" href="/components/{{ component.name }}/environment/{{ environment.name }}" data-test="environment">{{ environment.name }}</a>&nbsp;
              {% endfor %}
            {% else %}
            <p data-test="no-environments">None</p>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-third">
      <h3>Depends on:</h3>
      <ul>
      {% for dependency, known in component.dependencies %}
        <li>
          {% if known %}
          <a data-test="dependency-{{loop.index0}}" href="/components/{{dependency}}" class="govuk-link--no-visited-state">{{dependency}}</a>
          {% else %}
          {{dependency}}
          {% endif %}
        </li>
      {% else %}
        <p>This component relies on no other components.</p>
      {% endfor %}
      </ul>
      <h3>Relied on by:</h3>
      <ul>
        {% for dependent, known in component.dependents %}
        <li>
          {% if known %}
          <a data-test="dependent-{{loop.index0}}" href="/components/{{dependent}}" class="govuk-link--no-visited-state">{{dependent}}</a>
          {% else %}
          {{dependent}}
          {% endif %}
        </li>

      {% else %}
        <p>No components rely on this component.</p>
      {% endfor %}
      </ul>

      <h3>GitHub Compliance:</h3>
      {% if component.standardsCompliance %}
        {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

        {% set standardsComplianceList = [] %}
        {% for key, value in component.standardsCompliance %}
        {% if value == true %}
          {% set statusHtml = "&#9989;" %}
        {% else %}
          {% set statusHtml = "&#10060;" %}
        {% endif %}
        {% set standardsComplianceItem =
          {
            title: {
              text: key | snakeToTitleCase
            },
            status: {
              html: statusHtml
            }
          }
        %}
        {% set standardsComplianceList = (standardsComplianceList.push(standardsComplianceItem), standardsComplianceList) %}
        {% endfor %}
        {{ govukTaskList({idPrefix: "github-compliance", items: standardsComplianceList }) }}
      {% else %}
        <p>No GitHub compliance data available.</p>
      {% endif %}

  </div>
</div>

{{ driftRadiatorTable({ standalone: true }) }}

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/js/dayjs/dayjs.min.js"></script>
  <script src="/assets/js/dayjs/plugin/relativeTime.js"></script>
  <script src="/assets/js/driftRadiator.js"></script>
  <script nonce="{{ cspNonce }}">
    jQuery(function () {
      const components = {{[component.name] | toJson(2) | safe }}
      const csrfToken = "{{ csrfToken }}"
      const renderer = new DeploymentRenderer(csrfToken, 'standalone')
      renderer.start(components)
    })
  </script>

{% endblock %}
