{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + componentRequest.github_repo %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% macro githubTeams(teams) %}
  {% for team in teams %}
   <a href="https://github.com/orgs/ministryofjustice/teams/{{team}}" target="_blank" class="govuk-link--no-visited-state">{{team}}</a>{%if not loop.last%},&nbsp;{% endif %} 
  {% endfor %} 
{% endmacro %}

{% set breadCrumbList = [
    {title: "Products", href: "/products"},
    {title: componentRequest.Products, href: "/products/" + componentRequest.products}
  ]
%}

{{ breadCrumb(componentRequest.name, breadCrumbList) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 data-test="detail-page-title">{{ componentRequest.github_repo }}</h1>
    <table class="componentData">
      <tbody>
        <tr>
          <th>Description</th>
          <td data-test="description">{{ componentRequest.repo_description }}</td>
        </tr>
        <tr>
          <th>Requester Name</th>
          <td data-test="description">{{ componentRequest.requester_name }}</td>
        </tr>
        <tr>
          <th>Requester email</th>
          <td data-test="description">{{ componentRequest.requester_email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

