{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Components" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Components</h1>

  <table id="componentsTable" class="stripe">
  	<thead>
	  <tr>
		<th>Name</th>
		<th>Product ID</th>
		<th>Product Name</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/componentsTable.js"></script>
{% endblock %}
