{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Component Request Form" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% macro githubTeams(teams) %}
  {% for team in teams %}
   <a href="https://github.com/orgs/ministryofjustice/teams/{{team}}" target="_blank" class="govuk-link--no-visited-state">{{team}}</a>{%if not loop.last%},&nbsp;{% endif %} 
  {% endfor %} 
{% endmacro %}

{{ breadCrumb(componentRequest.github_repo, [{title: "Component Requests", href: "/component-requests"}]) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 data-test="detail-page-title">{{ componentRequest.github_repo }}</h1>
    <table class="componentData">
      <tbody>
        <tr>
          <th>Request Type</th>
          <td>
            {% if componentRequest.request_type %}
              {{ componentRequest.request_type }}
            {% else %}
              Add
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ componentRequest.repo_description }}</td>
        </tr>
        <tr>
          <th>Base Template</th>
          <td>{{ componentRequest.base_template }}</td>
        </tr>
        <tr>
          <th>Jira Project Keys</th>
          <td data-test="jira-project-keys">
            {% if componentRequest.request_type != 'Archive' %}
              {% if componentRequest.jira_project_keys | length %}
                {% for jira in componentRequest.jira_project_keys %}
                <a class="govuk-link--no-visited-state" target="_blank" href="https://dsdmoj.atlassian.net/browse/{{ jira }}?searchContentType=project">
                <image src="/assets/images/jira_favicon.ico" width="32" height="32"></image>
                {{ jira }} (opens Jira)
                </a>
                {% endfor %}
              {% else %}
                No Jira &#129301; - please provide one.
              {% endif %}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Product</th>
          <td>{{ componentRequest.product }}</td>
        </tr>
        <tr>
          <th>GitHub Write</th>
          <td>{{ githubTeams(componentRequest.github_project_teams_write) }}</td>
        </tr>
        <tr>
          <th>GitHub Admin</th>
          <td>{{ githubTeams(componentRequest.github_projects_teams_admin) }}</td>
        </tr>
        <tr>
          <th>GitHub Restricted</th>
          <td>{{ githubTeams(componentRequest.github_project_branch_protection_restricted_teams) }}</td>
        </tr>
        <tr>
          <th>GitHub Visibility</th>
          <td>
            {% if componentRequest.request_type != 'Archive' %}
              {{ componentRequest.github_project_visibility }}
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Slack channel for security notification</th>
          <td>{{ componentRequest.slack_channel_security_scans_notify }}</td>
        </tr>
        <tr>
          <th>Slack channel for Production release notification</th>
          <td>{{ componentRequest.slack_channel_prod_release_notify }}</td>
        </tr>
        <tr>
          <th>Slack channel for Non-Production release notification</th>
          <td>{{ componentRequest.slack_channel_nonprod_release_notify }}</td>
        </tr>
        <tr>
          <th>Production alert severity label</th>
          <td>{{ componentRequest.prod_alerts_severity_label }}</td>
        </tr>
        <tr>
          <th>Non-Production alert severity label</th>
          <td>{{ componentRequest.nonprod_alerts_severity_label }}</td>
        </tr>
        <tr>
          <th>Request Status</th>
          <td>{{ componentRequest.request_github_pr_status }}</td>
        </tr>
        <tr>
          <th>Deployment PR</th>
          <td><a href="https://github.com/ministryofjustice/hmpps-project-bootstrap/pull/{{ componentRequest.request_github_pr_number}}">{{ componentRequest.request_github_pr_number}}</a></td>
        </tr>
        <tr>
          <th>Requester By</th>
          <td>{{ componentRequest.requester_name }}</td>
        </tr>
        <tr>
          <th>Requester's Email-ID</th>
          <td>{{ componentRequest.requester_email }}</td>
        </tr>
        <tr>
          <th>Requesting Team</th>
          <td>{{ componentRequest.requester_team }}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

{% endblock %}
