{% extends "../partials/layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{%- from "moj/components/search/macro.njk" import mojSearch -%}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{%- from "moj/components/alert/macro.njk" import mojAlert -%}
{%- from "moj/components/badge/macro.njk" import mojBadge -%}

{% set pageTitle = applicationName + " - Dashboard" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  {{ breadCrumb("Dashboard", []) }}

  {% if dashboard.usersCookiePrefs == 'yes' %}
    <h1>Welcome to your dashboard</h1>

  {% macro allProductsList(products) %}
    <ul>
      {% for product in products %}
        <li>{{ product.name }}</li>
      {% endfor %}
    </ul>
  {% endmacro %}

 {% macro componentsList(componentsInfo)%}
    {% if dashboard.component | length %}
      <ul>
        {% for details in componentsInfo %}
          <li>
            <a class="govuk-link--no-visited-state" data-test="component-link" href="/components/{{ details.name }}">
              {{ details.name }}{% if details.archived == true %} (ARCHIVED){% endif %}
            </a>
              {% for name in dashboard.alerts %}
                {% if name.componentSlug == details.name and name.environment == 'prod' or name.componentSlug == details.name and name.environment == 'production'%}{{ mojBadge({ text: "Active Alert - PROD", classes: "moj-badge--red" }) }}
                {% elseif name.componentSlug == details.name %}{{ mojBadge({ text: "Active Alert", classes: "moj-badge--red" }) }}
                {% endif %}
              {% endfor %}
              {% for name in veracodeName %}
                {% if name == details.name %}{{ mojBadge({ text: "Veracode", classes: "moj-badge--purple" }) }} {% endif %}
              {% endfor %}
              {% for name in upgradeNeeded %}
                {% if name == details.name %}{{ mojBadge({ text: "Dependency", classes: "moj-badge--blue" }) }} {% endif %}
              {% endfor %}
          </li>
    {% else %}
      <li>None</li>
        {% endfor %}
      </ul>
    {% endif %}
 {% endmacro %}

  {% macro alertsInformation(alertsInfo) %}
    {% if dashboard.alertsInfo | length %}
      {% for alert in alertsInfo %}
        <h3>{{ alert.componentSlug }}</h3>
          <p>{{ alert.alertname }}</p>
      {% else %}
        <p> There are no active alerts for this product </p>
      {% endfor %}
    {% endif %}
  {% endmacro %}

    <div class="govuk-grid-row hmpps-miniSummaryWrapper govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-third">
        {% if dashboard.alerts | length > 0 %}
          <div id="dashboard-alerts-panel" class="govuk-inset-text govuk-!-margin-bottom-4">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Active alerts identified on one or more components</p>
            <p><a class="govuk-link--no-visited-state" href="/alerts?">See active alerts</a></p>
            <ul class="govuk-list govuk-list--bullet">
              {% for componentName in dashboard.alerts %}
                {% if componentName.environment == 'prod' %}
                  <li><strong><a class="govuk-link--no-visited-state" href="/components/{{ componentName.componentSlug }}">{{ componentName.componentSlug }} ({{ componentName.environment }})</a></strong></li>
                {% endif %}
              {% endfor %}
              {% for componentName in dashboard.alerts %}
                {% if componentName.environment != 'prod' %}
                  <li><a class="govuk-link--no-visited-state" href="/components/{{ componentName.componentSlug }}">{{ componentName.componentSlug }} ({{ componentName.environment }})</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one-third">
        {% if veracodeCount > 0 %}
          <div id="dashboard-veracode-panel" class="govuk-inset-text govuk-!-margin-bottom-4">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Vulnerabilities identified in production environment</p>
            <p><strong>{{ veracodeCount }}</strong> very high and/or high vulnerabilities have been identified in the latest Veracode scan. <a class="govuk-link--no-visited-state" href="/veracode?&results=failed">See veracode results.</a></p>
            <ul class="govuk-list govuk-list--bullet">
              {% for componentName in veracodeName %}
                <li>
                  <a class="govuk-link--no-visited-state" href="/components/{{ componentName }}">{{ componentName }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

      <div class="govuk-grid-column-one-third">
        {% if upgradeNeeded | length %}
          <div id="dashboard-upgrade-panel" class="govuk-inset-text govuk-!-margin-bottom-4">
            <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Components needing dependency upgrades identified</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for componentName in upgradeNeeded %}
                <li>
                  <a class="govuk-link--no-visited-state" href="/components/{{ componentName }}">{{ componentName }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>

    {% macro productLink(prod) %}
    <a class="govuk-link--no-visited-state" href="/products/{{ prod.slug }}">View product page</a>
    {% endmacro %}

    {% macro deleteButton(productName) %}
      <form action="/dashboard/saved-products/delete" method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="delete" value="{{ productName.name | string }}">
        {{ govukButton({
            type: "submit",
            text: "Remove Product",
            classes: "govuk-button--warning"
        }) }}
      </form>
    {% endmacro %}

    <div class="users-products">
    {% for product in dashboard.filteredProductsObject %}
      {{ govukSummaryList({
        card: {
          title: {
            html: product.name
            },
            actions: {
              items: [
                {
                 html: productLink(product)
                },
                {
                 html: deleteButton(product)
                }
              ]
            }
        },
        rows: [
          {
             key: {
               text: "Description"
             },
             value: {
               text: product.description
             }
          },
          {
             key: {
               text: "Components"
             },
             value: {
               html: componentsList(dashboard.component[loop.index0])
             }
          }
        ]
      }) }}
    {%  endfor %}
    </div>

    {% if dashboard.error == "notfound" %}
      {{ mojAlert({
      id: "product-not-found",
      variant: "error",
      title: dashboard.attemptedProduct,
      showTitleAsHeading: false,
      dismissible: false,
      text: dashboard.attemptedProduct + " is not a valid product name. See full list below to find your product ('See full list of products')"
    }) }}
    {% endif %}

    {% if dashboard.error == "empty" %}
      <p class= "error-message">Please enter a product name</p>
    {% endif %}

    <form action="/dashboard/saved-products/add" method="POST" id="add-product-form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <div class="form-field">
        <link rel="stylesheet" href="assets/scss/accessible-autocomplete.min.css" />
        <label for="product-autocomplete"><strong>Select a product</strong></label></div>
      <p>Type the name of a product to add to your dashboard.</p>
      <div class="govuk-grid-column-two-thirds" style="padding: 0">
      <input type="hidden" name="product" id="input-autocomplete">
        <div id="product-autocomplete-container"
             data-source='{{ dashboard.productsNameList | dump | safe }}'></div>
      </div>
        <div class="govuk-grid-column-one-third">
          {{ govukButton({
          text: "Add product"
          }) }}
        </div>
    </form>

    <div class="no-products-on-dashboard">
  {% if dashboard.productsList.length == 0 %}
    {{ mojAlert({
      variant: "information",
      title: "You do not have any pinned products",
      showTitleAsHeading: true,
      dismissible: false,
      html: 'Click on the "add a product" button to add one.'
    }) }}
  {% endif %}
    </div>

  {% else %}
    {{ mojAlert({
      variant: "information",
      title: "You are not able to use the dashboard without additional cookies",
      dismissible: false,
      html: 'You are not able to use the dashboard without additional cookies. If you would like to change your cookie preferences, you can do so here <a href="/cookies">Cookies</a>.'
    }) }}
  {% endif %}

{% endblock %}
<div class="banner">
  <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
</div>
{% block bodyEnd %}
  <script type="module" src="/assets/js/frontendInit.js"></script>
    <script type="module" src="/assets/js/accessible-autocomplete.min.js"></script>
  <script type="module" src="/assets/js/dashboard.js"></script>
  <script
    type="application/json"
    id="autocomplete-source">
  {{ dashboard.productsNameList | dump | safe }}
</script>
  <script src="/assets/js/common.js"></script>
{% endblock %}
