{% extends "../partials/layout.njk" %}

{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% set pageTitle = applicationName + " - " + Dashboard %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <meta name="csrf-token" content="{{ csrfToken }}">

{{ breadCrumb("Dashboard", []) }}

<h1>Welcome to your dashboard, Username </h1>

  {% from "govuk/components/input/macro.njk" import govukInput %}

  {{ govukInput({
  label: {
    text: "Please enter your name",
    classes: "govuk-label--m"
  },
  id: "dashboard-user-name",
  name: "userName",
  button: {
  text: "Search"
    }
}) }}
  <p id ="output"></p>

  {{ mojAlert({
      variant: "information",
      title: "You do not have any pinned products",
      showTitleAsHeading: true,
      dismissible: false,
      html: 'Click on the "add a product" button to add one.'
    }) }}

{% endblock %}
<div class="banner">
  <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
</div>
{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  <script type="module" src="/assets/js/js-cookie.js"></script>
  <script type="module" src="/assets/js/userCookies.js"></script>
  <script src="/assets/js/common.js"></script>
{% endblock %}
