{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Monitor" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>Dependencies</h1>

  <form>
    <input type="hidden" name="_csrf" id="csrf" value="{{ csrfToken }}">
    {{ govukSelect({
      id: "dependencyData",
      name: "dependencyData",
      items: dropDownItems,
      attributes: {
        'data-test': 'dependency-select'
      }
    }) }}
    {{ govukButton({
      id: "selectDependency",
      name: "selectDependency",
      text: "Update",
      element: "button"
    }) }}
  </form>

  {% if dependencyName|length %}
  <table class="stripe" id="dependenciesTable">
    <thead>
      <tr>
        <th>Component</th>
        <th>Version</th>
      </tr>
    </thead>
  </table>
  {% endif %}

{% endblock %}

{% block bodyEnd %}
  <script nonce="{{ cspNonce }}">
    const dataDependencyName = '{{ dependencyName }}'
    const dataDependencyType = '{{ dependencyType }}'
  </script>
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/dependenciesTable.js"></script>
{% endblock %}
