{% extends "../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Deployment drift radiator" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1 id="detailPageTitle">{{ title }}</h1>
  <div id="drift-radiator"></div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/assets/js/dayjs/dayjs.min.js"></script>
  <script src="/assets/js/dayjs/plugin/relativeTime.js"></script>
  <script src="/assets/js/driftRadiator.js"></script>
  <script nonce="{{ cspNonce }}">
    jQuery(function () {
      const components = {{components | toJson(2) | safe }}
      const csrfToken = "{{ csrfToken }}"
      const renderer = new DeploymentRenderer(csrfToken, 'list')
      renderer.start(components)
    })
  </script>
  
{% endblock %}
