{% extends "../partials/layout.njk" %}
{% from "../partials/docs.njk" import drift, staleness %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "../partials/driftRadiatorTable.njk" import driftRadiatorTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
  
{% set pageTitle = applicationName + " - Deployment drift radiator" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ breadCrumb("Deployment drift radiator", []) }}
  <h1 id="detailPageTitle">{{ title }}</h1>

  <form method="GET" action="/drift-radiator">
    {% include "../partials/filterDropDowns.njk" %}
  </form>
  
  {{ govukDetails({
      summaryText: "About staleness and drift",
      html: staleness() + drift()
  }) }}  

  {{ driftRadiatorTable() }}

{% endblock %}

{% block bodyEnd %}
  <script type="application/json" id="drift-radiator-data">{{ { "components": components, "csrfToken": csrfToken, "viewMode": "list" } | toJson | safe }}</script>
  {{ super() }}
{% endblock %}
