{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set pageTitle = applicationName + " - " + component.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/components/" + component.name
}) }}

<h1 id="detailPageTitle">{{ component.name }} / {{ component.environment.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>Name</th>
      <td>{{ component.environment.name }}</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>{{ component.environment.type }}</td>
    </tr>
    <tr>
      <th>URL</th>
      <td><a href="{{ component.environment.url }}">{{ component.environment.url }}</a></td>
    </tr>
    {% if component.api %}
    <tr>
      <th>Swagger</th>
      <td><a href="{{ component.environment.url }}/swagger-ui/index.html" target="_blank">View</a> (opens in new window)</td>
    </tr>
    {% endif %}
    <tr>
      <th>Namespace</th>
      <td><a href="https://github.com/ministryofjustice/cloud-platform-environments/tree/main/namespaces/live.cloud-platform.service.justice.gov.uk/{{ component.environment.namespace }}" target="_blank">{{ component.environment.namespace }}</a> (opens in new window)</td>
    </tr>
    <tr>
      <th>Info</th>
      <td>{% if component.environment.info_path|length %}<a href="{{ component.environment.url }}{{ component.environment.info_path }}" target="_blank">{{ component.environment.info_path }}</a> (opens in new window){% endif %}</td>
    </tr>
    <tr>
      <th>Health</th>
      <td>{% if component.environment.health_path|length %}<a href="{{ component.environment.url }}{{ component.environment.health_path }}" target="_blank">{{ component.environment.health_path }}</a> (opens in new window){% endif %}</td>
    </tr>
    <tr>
      <th>Cluster</th>
      <td>{{ component.environment.cluster }}</td>
    </tr>
    <tr>
      <th>Version</th>
      <td id="{{ component.environment.name }}_version"></td>
    </tr>
    <tr>
      <th>Status</th>
      <td id="{{ component.environment.name }}_status"></td>
    </tr>
    <tr>
      <th>Health output</th>
      <td><pre id="{{ component.environment.name }}_health_raw">None available</pre></td>
    </tr>
    <tr>
      <th>Last Updated</th>
      <td id="{{ component.environment.name }}_last_updated"></td>
    </tr>
    <tr>
      <th>Cloud Platform Reports</th>
      <td><a href="https://reports.cloud-platform.service.justice.gov.uk/namespace/{{ component.environment.namespace }}" target="_blank">View</a> (opens in new window)</td>
    </tr>
  </tbody>
</table>

<h2>Health status history</h2>
<div id="healthTimeline"></div>
<pre id="healthOutputSelected">Click timeline above to display health output.</pre>
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script nonce="{{ cspNonce }}">
    const environmentName = '{{ component.environment.name }}'
    const environmentType = '{{ component.environment.type }}'
    const componentName = '{{ component.name }}'
  </script>
  <script src="/assets/js/environment.js"></script>
{% endblock %}
