{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Environments" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Environments", []) }}

  <h1>Environments</h1>

  <table id="componentsEnvironmentTable" class="stripe">
		<thead>
			<tr>
				<th>Environment</th>	
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Team</th>
				<th>Namespace</th>
				<th>Info Path</th>
				<th>Health Path</th>
				<th>URL</th>
				<th>Monitor</th>
				<th class="componentsActiveAgencies">Active Agencies</th>
				<th>IP Allow list enabled</th>
				<th>Include in SAR</th>
				<th>Modsecurity Enabled</th>
				<th>Modsecurity audit enabled</th>
				<th>Build Image tag</th>
				<th>Alert Severity Label</th>
				<th>Alerts Slack channel</th>
				<th>Postgres Database Restore</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Environment</th>	
				<th>Name</th>
				<th>Product ID</th>
				<th>Product Name</th>
				<th>Team</th>
				<th>Namespace</th>
				<th>Info Path</th>
				<th>Health Path</th>
				<th>URL</th>
				<th>Monitor</th>
				<th class="componentsActiveAgencies">Active Agencies</th>
				<th>IP Allow list enabled</th>
				<th>Include in SAR</th>
				<th>Modsecurity Enabled</th>
				<th>Modsecurity audit enabled</th>
				<th>Build Image tag</th>
				<th>Alert Severity Label</th>
				<th>Alerts Slack channel</th>
				<th>Postgres Database Restore</th>
			</tr>
		</tfoot>
  </table>
  <div class="banner">
    <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/environments.js"></script>
{% endblock %}
