{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + namespace.hmppsTemplate.tf_label %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% set breadCrumbList = [
    {title: "Namespaces", href: "/namespaces"},
    {title: namespace.name, href: "/namespaces/" + namespace.name}
  ]
%}

{{ breadCrumb(namespace.hmppsTemplate.tf_label, breadCrumbList) }}

<h1 data-test="detail-page-title">{{ namespace.hmppsTemplate.tf_label }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>tf_label</th>
      <td>{{ namespace.hmppsTemplate.tf_label }}</td>
    </tr>
    <tr>
      <th>namespace</th>
      <td>{{ namespace.hmppsTemplate.namespace }}</td>
    </tr>
    <tr>
      <th>Application</th>
      <td>{{ namespace.hmppsTemplate.application }}</td>
    </tr>
    <tr>
      <th>Github Repo</th>
      <td><a href=https://github.com/ministryofjustice/{{ namespace.hmppsTemplate.github_repo }}>{{ namespace.hmppsTemplate.github_repo }}</a></td>
    </tr>
    <tr>
      <th>source_template_repo</th>
      <td>{{ namespace.hmppsTemplate.source_template_repo }}</td>
    </tr>
    <tr>
      <th>prevent_self_review</th>
      <td>{{ namespace.hmppsTemplate.prevent_self_review }}</td>
    </tr>
    <tr>
      <th>reviewer_teams</th>
      <td>
        {% for team in namespace.hmppsTemplate.reviewer_teams %}
          {{ team }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>selected_branch_patterns</th>
      <td>
        {% for pattern in namespace.hmppsTemplate.selected_branch_patterns %}
          {{ pattern }}<br>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <th>protected_branches_only</th>
      <td>{{ namespace.hmppsTemplate.protected_branches_only }}</td>
    </tr>
    <tr>
      <th>source code</th>
      <td><a href="https://github.com/ministryofjustice/cloud-platform-environments/tree/main/namespaces/live.cloud-platform.service.justice.gov.uk/{{ namespace.name }}/resources/{{ namespace.hmppsTemplate.tf_filename }}">{{ namespace.hmppsTemplate.tf_filename }}</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
{% endblock %}
