{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Developer Portal</h1>
  <p>
    <h2>Areas</h2>
    <ul>
      <li><a class="govuk-link--no-visited-state" href="/service-areas">Service Areas</a></li>
      <li><a class="govuk-link--no-visited-state" href="/teams">Teams</a></li>
    </ul>
    <h2>Services</h2>
    <ul> 
      <li><a class="govuk-link--no-visited-state" href="/product-sets">Product Sets</a></li>
      <li><a class="govuk-link--no-visited-state" href="/products">Products</a></li>
      <li><a class="govuk-link--no-visited-state" href="/components">Components</a></li>
    </ul>  
    <h2>Tools</h2>
    <ul>
      <li><a class="govuk-link--no-visited-state" href="/monitor">Monitor</a></li>
      <li><a class="govuk-link--no-visited-state" href="/components/veracode">Veracode</a></li>
      <li><a class="govuk-link--no-visited-state" href="/dependencies">Component Dependencies</a></li>
      <li><a class="govuk-link--no-visited-state" href="/product-dependencies">Product Dependencies</a></li>
      <li><a class="govuk-link--no-visited-state" href="/drift-radiator">Deployment Drift Radiator</a></li>
    </ul>
  </p>

{% endblock %}
