{% extends "../partials/layout.njk" %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% if not hideCookies %}
{% set html %}
  <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <p class="govuk-body">We’d like to set additional cookies so we can remember your settings, understand how people use the service and make improvements.</p>
{% endset %}

{% set acceptHtml %}
  <p class="govuk-body">You’ve accepted additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}

{% set rejectedHtml %}
  <p class="govuk-body">You’ve rejected additional cookies. You can <a class="govuk-link" href="/cookies">change your cookie settings</a> at any time.</p>
{% endset %}
<div class="cookie-banner">
<form action="/set-cookie-preference" method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
  {{ govukCookieBanner({
    ariaLabel: "Cookies on Developer Portal",
    messages: [
      {
        headingText: "Cookies on Developer Portal",
        html: html,
        actions: [
          {
            text: "Accept additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "yes"
          },
          {
            text: "Reject additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "no"
          },
          {
            text: "View cookies",
            href: "/cookies"
          }
        ],
        hidden: usersCookiePrefs == "yes" or usersCookiePrefs == "no"
      }
    ]
  }) }}
</form>


<form action="/hide-cookie-notice" method="POST">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
    {{ govukCookieBanner({
      ariaLabel: "Cookies on [name of service]",
      hidden: usersCookiePrefs == undefined or hideCookies,
      messages: [
        {
           html: acceptHtml,
           actions: [
             {
                text: "Hide cookie message",
                type: "submit",
                name: "cookies[hide]",
                value: "yes"
             }
           ],
           hidden: usersCookiePrefs == "no" or usersCookiePrefs == undefined
        },
        {
           html: rejectedHtml,
           actions: [
             {
               text: "Hide cookie message",
               type: "submit",
               name: "cookies[hide]",
               value: "yes"
             }
           ],
           hidden: usersCookiePrefs == "yes" or usersCookiePrefs == undefined
        }
      ]
    }) }}
</form>
</div>
{% endif %}


  <h1>Developer Portal</h1>
  <h2><a class="govuk-link--no-visited-state" href="/dashboard" data-test="service-area-link">Dashboard</a></h2>
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-half">
      <h2>Services</h2>
      <ul>
        <li><a class="govuk-link--no-visited-state" href="/service-areas" data-test="service-area-link">Service Areas</a></li>
        <li><a class="govuk-link--no-visited-state" href="/teams" data-test="teams-link">Teams</a></li>
        <li><a class="govuk-link--no-visited-state" href="/product-sets" data-test="product-sets-link">Product Sets</a></li>
        <li><a class="govuk-link--no-visited-state" href="/products" data-test="products-link">Products</a></li>
        <li><a class="govuk-link--no-visited-state" href="/components" data-test="components-link">Components</a></li>
        <li><a class="govuk-link--no-visited-state" href="/environments" data-test="environments-link">Environments</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2>Tools</h2>
      <ul>
        <li><a class="govuk-link--no-visited-state" href="/alerts" data-test="alerts-link">Alerts</a></li>
        <li><a class="govuk-link--no-visited-state" href="/monitor" data-test="monitor-link">Health Monitor</a></li>
        <li><a class="govuk-link--no-visited-state" href="/dependencies" data-test="component-dependencies-link">View Component Dependencies</a></li>
        <li><a class="govuk-link--no-visited-state" href="/product-dependencies" data-test="product-dependencies-link">View Product Dependencies</a></li>
        <li><a class="govuk-link--no-visited-state" href="/drift-radiator" data-test="component-drift-link">View Component Drift</a></li>
        <li><a class="govuk-link--no-visited-state" href="/namespaces" data-test="namespaces-link">Namespaces</a></li>
        <li><a class="govuk-link--no-visited-state" href="/github-teams" data-test="github-teams-link">GitHub Teams</a></li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-one-half">
      <h2>Reports</h2>
      <ul>
        <li><a class="govuk-link--no-visited-state" href="/veracode" data-test="veracode-link">Veracode</a></li>
        <li><a class="govuk-link--no-visited-state" href="/trivy-scans" data-test="trivy-link">Trivy Scans</a></li>
        <li><a class="govuk-link--no-visited-state" href="/reports/rds" data-test="rds-link">RDS</a></li>
        <li><a class="govuk-link--no-visited-state" href="/scheduled-jobs" data-test="scheduled-jobs-link">Scheduled Discovery Jobs</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2>Request Forms</h2>
      <ul>
        <li><a class="govuk-link--no-visited-state" href="/component-requests/new">Component request form</a></li>
        <li><a class="govuk-link--no-visited-state" href="/component-requests/archive">Component archive request form</a></li>
        <li><a class="govuk-link--no-visited-state" href="/component-requests">Previous requests</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
