{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Developer Portal</h1>
  <p>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/product-sets">Product Sets</a></li>
      <li><a href="/components">Components</a></li>
      <li><a href="/components/veracode">Veracode</a></li>
      <li><a href="/dependencies">Component Dependencies</a></li>
      <li><a href="/service-areas">Service Areas</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/monitor">Monitor</a></li>
    </ul>
  </p>

{% endblock %}
