{% extends "../partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitle = applicationName + " - Monitor" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>Monitor</h1>

  <form>
    <input type="hidden" name="monitorName" id="monitorName" value="{{ monitorName }}">
    <input type="hidden" name="monitorType" id="monitorType" value="{{ monitorType }}">
    <input type="hidden" name="_csrf" id="csrf" value="{{ csrfToken }}">

    {% include "../partials/filterDropDowns.njk" %}

    <div class="monitor">

      <div class="monitor-filter-block">
        <div class="govuk-heading-s">Environments</div>
        {{ govukCheckboxes({
          classes: "govuk-checkboxes--inline govuk-checkboxes--small environments",
          name: "environment",
          items: [
            {
              id: "environment-dev",
              value: "dev",
              text: "Dev",
              checked: true
            },
            {
              id: "environment-stage",
              value: "stage",
              text: "Stage",
              checked: true
            },
            {
              id: "environment-test",
              value: "test",
              text: "Test",
              checked: true
            },
            {
              id: "environment-preprod",
              value: "preprod",
              text: "PreProd",
              checked: true
            },
            {
              id: "environment-prod",
              value: "prod",
              text: "Prod",
              checked: true
            }
          ]
        }) }}
      </div>

      <div class="monitor-filter-block">
        <div class="govuk-heading-s">Status</div>
        {{ govukCheckboxes({
          classes: "govuk-checkboxes--inline govuk-checkboxes--small environments",
          name: "status",
          items: [
            {
              id: "status-up",
              value: "up",
              text: "Up",
              checked: true
            },
            {
              id: "status-down",
              value: "down",
              text: "Down",
              checked: true
            },
            {
              id: "status-missing",
              value: "missing",
              text: "Missing",
              checked: true
            }
          ]
        }) }}
      </div>

      <div class="monitor-filter-block">
        <div class="govuk-heading-s">Area</div>
        {{ govukCheckboxes({
          classes: "govuk-checkboxes--inline govuk-checkboxes--small environments",
          name: "area",
          items: [
            {
              id: "hmpps-area-probation",
              value: "probation",
              text: "Probation",
              checked: true
            },
            {
              id: "hmpps-area-prisons",
              value: "prisons",
              text: "Prisons",
              checked: true
            }
          ]
        }) }}
      </div>
    </div>
  </form>

  <table id="statusTable">
    <thead>
      <tr>
        <th>Component</th>
        <th>Env Name (Type)</th>
        <th>Health</th>
        <th>Build</th>
        <th>Up/Down</th>
        <th>Status Updated</th>
      </tr>
    </thead>
    <tbody id="statusRows">
    </tbody>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/dayjs/dayjs.min.js"></script>
  <script src="/assets/js/dayjs/plugin/relativeTime.js"></script>
  <script src="/assets/js/monitor.js"></script>
{% endblock %}
