{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Namespaces" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Namespaces", []) }}

  <div class="banner">
    <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
  </div>
  <h1>Namespaces</h1>

  <table id="namespacesTable" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>RDS Instance</th>
        <th>Elasticache Cluster</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>RDS Instance</th>
        <th>Elasticache Cluster</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/namespaces.js"></script>
{% endblock %}
