{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - CVE Vulnerabilities" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {% set breadCrumbList = [
      {title: "Overdue vulnerabilties", href: '/overdue-vulnerabilities'},
      {title: serviceArea.name, href: '/overdue-vulnerabilities/' + serviceArea.slug }
    ]
  %}

  {{ breadCrumb(product.name, breadCrumbList) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSelect({
          id: "service-area",
          name: "serviceArea",
          label: {
              text: "Service Area:"
          },
          items: serviceAreas | sort(false, false, 'serviceAreaName') | toSelect('slug', 'name', selectedServiceArea)
      }) }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukButton({
        id: "updateServiceArea",
        name: "updateServiceArea",
        text: "View",
        classes: "update-service-area"
      }) }}
    </div>
  </div>

  {% set product = product %}
  <h1>Overdue vulnerabilities for {{ product.name }}</h1>
    <p>{{ product.numberOfBreachedComponents }} / {{ product.components.length }} components have vulnerabilties that have breached their SLA</p>

    {% for component in product.components %}
      <h3>
          <a href="/components/{{component.name}}" class="govuk-link--no-visited-state">{{component.name}}</a>
      </h3>
      <p>
        {{ component.breachedVulnerabilities.length }} vulnerabilties with breached SLAs.
        See all production vulnerabilities <a href="/snyk-scans/{{component.name}}/environments/{{component.scanName}}" class="govuk-link--no-visited-state">here</a>
      </p>
      {% if component.breachedVulnerabilities.length %}
          {% set rows = [] %}
          {% for vuln in component.breachedVulnerabilities %}
              {% set rows = (rows.push([
                { html: '<a href="https://security.snyk.io/vuln/' + vuln.vulnerabilityId + '" class="govuk-link--no-visited-state">' + vuln.vulnerabilityId + '</a>' },
                { text: vuln.severityLevel },
                { text: vuln.publishedDate },
                { text: vuln.breachedSince }
                ])
              , rows) %}
          {% endfor %}
          {{ govukTable({
              caption: "Overdue vulnerabilities",
              captionClasses: "govuk-table__caption--s",
              firstCellIsHeader: false,
              head: [
                  { text: "Vuln ID" },
                  { text: "Severity Level" },
                  { text: "Published date" },
                  { text: "Overdue since" }
              ],
              rows: rows
          }) }}
      {% endif %}
    {% endfor %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/overdueVulnerabilities.js"></script>
{% endblock %}
