{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Products" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Products</h1>

  <table id="productsTable" class="stripe">
  	<thead>
	  <tr>
		<th>ID</th>
		<th>Name</th>
		<th>Product Set ID</th>
		<th>Product Set Name</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/productsTable.js"></script>
{% endblock %}
