{% extends "../partials/layout.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - " + product.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ breadCrumb(product.name, [{title: "Products", href: "/products"}]) }}
<h1 id="detailPageTitle">{{ product.name }}{% if product.decommissioned == true %} (Decommissioned){% endif %}</h1>

{% macro alertMessage(alert) %}
  {{ govukDetails({
    summaryText: "Show message",
    text: alert.message
  }) }}
{% endmacro %}

{% macro additionalAlerts(alerts) %}
  {{ govukDetails({
    summaryText: "Show all " + product.alerts.length + " alerts",
    text: nestedTable(alerts)
  }) }}
{% endmacro %}

{% macro nestedTable(alerts) %}
  {{ govukTable({
    rows: alerts
  }) }}
{% endmacro %}

{% if product.alerts | length %}
  <div id ="product-alert-popup" class="govuk-inset-text govuk-!-margin-bottom-4" data-test="alerts">
    {% set firstAlertRow = [] %}
    {% set additionalAlertsRow = [] %}
    {% for alert in product.alerts %}
      {% set tableRowContent =  [
        { text: alert.alertname },
        { html: '<a href="/components/' ~ alert.componentSlug ~ '" target="_blank">'~ alert.componentName ~'</a>' },
        { text: alert.environment },
        { text: alert.summary },
        { text: alert.startsAt },
        { text: alertMessage(alert) }
      ] %}
      {% if loop.first %}
        {% set firstAlertRowData = firstAlertRow.push(tableRowContent) %}
      {% else %}
        {% set additionalAlertRowData = additionalAlertsRow.push(tableRowContent) %}
      {% endif %}
    {% endfor %}
    {% if product.alerts | length > 1 %}
      {% set additionalRows = firstAlertRow.push([{ colspan: 6, text: additionalAlerts(additionalAlertsRow) }]) %}
    {% endif %}

    {{ govukTable({
      caption: "Active Alerts",
      captionClasses: "govuk-table__caption--m",
      head: [
        { text: "Alert Name" },
        { text: "Component" },
        { text: "Environment" },
        { text: "Summary" },
        { text: "Started At" },
        { text: "Message" }
      ],
      rows: firstAlertRow
    }) }}
  </div>
{% endif %}

{% if upgradeNeeded.length %}
  <div id="dependency-alert-popup" class="govuk-inset-text govuk-!-margin-bottom-4" data-test="alerts">
    <h2 class="govuk-heading-m">Components Needing Dependency Updates</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for componentName in upgradeNeeded %}
        <li>
          <a class="govuk-link" href="/components/{{ componentName }}">{{ componentName }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{# Vulnerability banners #}
{% if product.trivyVulnerabilityCount > 0 %}
  <div class="govuk-inset-text govuk-!-margin-bottom-4 vulnerability-alert-banner">
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Vulnerabilities found in Production environment</p>
    <p><strong>{{ product.trivyVulnerabilityCount }}</strong> critical and/or high vulnerabilities have been identified in the latest Trivy scan. <a class="govuk-link--no-visited-state" href="/trivy-scans?team={{ product.teamName }}">See results.</a></p>
  </div>
{% endif %}

{% if product.veracodeVulnerabilityCount > 0 %}
  <div class="govuk-inset-text govuk-!-margin-bottom-4 vulnerability-alert-banner">
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Vulnerabilities found in Production environment</p>
    <p><strong>{{ product.veracodeVulnerabilityCount }}</strong> very high and/or high vulnerabilities have been identified in the latest Veracode scan. <a class="govuk-link--no-visited-state" href="/veracode?team={{ product.teamName }}&results=failed">See results.</a></p>
  </div>
{% endif %}

{% if product.isPrisonProduct %}
  {{ govukInsetText({
    html: 'To update the information contained on this page please contact <a href="https://moj.enterprise.slack.com/archives/C0572SYFU3D" class="govuk-link govuk-link--no-visited-state" target="_blank">#ask-dps-delivery-ops</a> with the appropriate changes.'
  }) }}
{% endif %}

<table class="componentData">
  <tbody>
    <tr>
      <th>Description</th>
      <td>{{ product.description }}</td>
    </tr>
    <tr>
      <th>ID</th>
      <td>{{ product.id }}</td>
    </tr>
    <tr>
      <th>Service Owner</th>
      <td>{{ product.serviceOwner }}</td>
    </tr>
    <tr>
      <th>Product Manager</th>
      <td data-test="product-manager">{{ product.productManager }}</td>
    </tr>
    <tr>
      <th>Delivery Manager</th>
      <td data-test="delivery-manager">{{ product.deliveryManager }}</td>
    </tr>
    <tr>
      <th>Technical Architect</th>
      <td>{{ product.technicalArchitect }}</td>
    </tr>
    <tr>
      <th>Oversight Princical Technical Architect</th>
      <td data-test="principal-architect">{{ product.oversightPrincipalTechnicalArchitect }}</td>
    </tr>
    <tr>
      <th>Lead developer</th>
      <td data-test="lead-developer">{{ product.leadDeveloper }}</td>
    </tr>
    <tr>
      <th>Subproduct?</th>
      <td>{% if product.subProduct %}Yes{% else %}No{% endif %}</td>
    </tr>
    <tr>
      <th>Phase</th>
      <td>{{ product.phase }}</td>
    </tr>
    {% if product.decommissioned == true %}
    <tr>
      <th>Decommissioned</th>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Decommissioned Date</th>
      <td>{{ product.decommissionDate }}</td>
    </tr>
    {% endif %}
    <tr>
      <th>Team</th>
      <td>
        {% if product.team.name | length %}
        <a href="/teams/{{ product.team.slug }}">{{ product.team.name }} ({{ product.team.t_id }})</a>
        {% else %}
        No team associated with this product &#129301;
        {% endif %}
        </td>
    </tr>
    <tr>
      <th>Team Slack</th>
      <td>
        {% if product.slack_channel_id | length %}
        <a class="govuk-link--no-visited-state" href="slack://channel?team=T02DYEB3A&id={{ product.slack_channel_id }}">
        <img src="/assets/images/slack_favicon_32.png" alt="Slack logo" width="32" height="32" />
          {% if product.slack_channel_name | length %}
          #{{ product.slack_channel_name }}
          {% else %}
          Link
          {% endif %}
          (opens slack)</a>
        {% else %}
        No team slack &#129301; - please provide one.
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Product Slack</th>
      <td>
      {% if product.slackChannelId | length %}
        <a class="govuk-link--no-visited-state" href="slack://channel?team=T02DYEB3A&id={{ product.slackChannelId }}">
        <img src="/assets/images/slack_favicon_32.png" alt="Slack logo" width="32" height="32" />
        {% if product.slackChannelName | length %}
        #{{ product.slackChannelName }}
        {% else %}
        Link
        {% endif %}
        (opens slack)</a>
      {% else %}
        No product slack &#129301; - please provide one.
      {% endif %}
      </td>
    </tr>
    {% if product.productSet.id | length %}
    <tr>
      <th>Product Set</th>
      <td><a href="/product-sets/{{ product.productSet.id }}">{{ product.productSet.name }} ({{ product.productSet.ps_id }})</a></td>
    </tr>
    {% endif %}
    <tr>
      <th>Components</th>
      <td>
        {% if product.components | length %}
        <ul>
          {% for component in product.components %}
            <li>
              <a data-test="component-link" href="/components/{{ component.name }}">
                {{ component.name }}{% if component.archived == true %} (ARCHIVED){% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Links</th>
      <td>
       <ul>
          <li><a class="govuk-link--no-visited-state" href="/monitor/product/{{ product.slug | toMonitorName }}">
             Health monitor
          </a></li>
          <li><a class="govuk-link--no-visited-state" href="/drift-radiator/products/{{ product.name | toMonitorName }}">
             Deployment drift
          </a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>

{% endblock %}
