{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + productSet.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 id="detailPageTitle">{{ productSet.name }}</h1>

<p>ID: {{ productSet.ps_id }}</p>

<p>Products</p>
{% if productSet.products | length %}
<ul>
  {% for product in productSet.products %}
    <li><a href="/products/{{ product.id }}">{{ product.attributes.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>None</p>
{% endif %}

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
