{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% for name in products %}
  <p>{{ name }}</p>
  {% endfor %}

{% endblock %}
