{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + productSet.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 data-test="detail-page-title">{{ productSet.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>ID</th>
      <td data-test="product-set-id">{{ productSet.id }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>
        {% if productSet.products | length %}
        <ul>
          {% for product in productSet.products %}
            <li><a href="/products/{{ product.id }}" data-test="product-{{ product.id }}">{{ product.attributes.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p data-test="no-products">None</p>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
