{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Product Sets" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Product Sets</h1>

  <table id="productSetsTable" class="stripe">
  	<thead>
	  <tr>
    <th>ID</th>
		<th>Name</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/productSetsTable.js"></script>
{% endblock %}
