{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + productSet.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 id="detailPageTitle">{{ productSet.name }}</h1>

<p>ID: {{ productSet.ps_id }}</p>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
