{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Product Sets" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Product Sets", []) }}

  <h1>Product Sets</h1>

  <table id="productSetsTable" class="stripe">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/productSets.js"></script>
{% endblock %}
