{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + namespace.rdsInstance.tf_label %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{% set breadCrumbList = [
    {title: "Namespaces", href: "/namespaces"},
    {title: namespace.name, href: "/namespaces/" + namespace.name}
  ]
%}

{{ breadCrumb(namespace.rdsInstance.tf_label, breadCrumbList) }}

<h1 data-test="detail-page-title">{{ namespace.rdsInstance.tf_label }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>tf_label</th>
      <td>{{ namespace.rdsInstance.tf_label }}</td>
    </tr>
    <tr>
      <th>tf_mod_version</th>
      <td>{{ namespace.elasticache_cluster.team_name }}</td>
    </tr>
    <tr>
      <th>namespace</th>
      <td>{{ namespace.rdsInstance.namespace }}</td>
    </tr>
    <tr>
      <th>db_instance_class</th>
      <td>{{ namespace.rdsInstance.db_instance_class }}</td>
    </tr>
    <tr>
      <th>db_engine_version</th>
      <td>{{ namespace.rdsInstance.db_engine_version }}</td>
    </tr>
    <tr>
      <th>rds_family</th>
      <td>{{ namespace.rdsInstance.rds_family }}</td>
    </tr>
    <tr>
      <th>db_max_allocated_storage</th>
      <td>{{ namespace.rdsInstance.db_max_allocated_storage }}</td>
    </tr>
    <tr>
      <th>allow_major_version_upgrade</th>
      <td>{{ namespace.rdsInstance.allow_major_version_upgrade }}</td>
    </tr>
    <tr>
      <th>allow_minor_version_upgrade</th>
      <td>{{ namespace.rdsInstance.allow_minor_version_upgrade }}</td>
    </tr>
    <tr>
      <th>deletion_protection</th>
      <td>{{ namespace.rdsInstance.deletion_protection }}</td>
    </tr>
    <tr>
      <th>maintenance_window</th>
      <td>{{ namespace.rdsInstance.maintenance_window }}</td>
    </tr>
    <tr>
      <th>performance_insights_enabled</th>
      <td>{{ namespace.rdsInstance.performance_insights_enabled }}</td>
    </tr>
    <tr>
      <th>is_production</th>
      <td>{{ namespace.rdsInstance.is_production }}</td>
    </tr>
    <tr>
      <th>environment_name</th>
      <td>{{ namespace.rdsInstance.environment_name }}</td>
    </tr>
    <tr>
      <th>source code</th>
      <td><a href="https://github.com/ministryofjustice/cloud-platform-environments/tree/main/namespaces/live.cloud-platform.service.justice.gov.uk/{{ namespace.name }}/resources/{{ namespace.rdsInstance.tf_filename }}">{{ namespace.rdsInstance.tf_filename }}</a></td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
{% endblock %}
