{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Scheduled Jobs" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Scheduled Jobs", []) }}

  <h1>Scheduled Jobs</h1>

  <table id="scheduledJobsTable" class="stripe">
		<thead>
			<tr>
				<th>Job Name</th>
				<th class="description">Description</th>
				<th>Schedule</th>
				<th>Last scheduled Run</th>
				<th>Result</th>
				<th>Last successful Run</th>
				<th>Error</th>
			</tr>
			</thead>
			<tfoot>
			<tr>
				<th>Job Name</th>
				<th class="description">Description</th>
				<th>Schedule</th>
				<th>Last scheduled Run</th>
				<th>Result</th>
				<th>Last successful Run</th>
				<th>Error</th>
			</tr>
		</tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/scheduledJobs.js"></script>
{% endblock %}
