{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + serviceArea.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 id="detailPageTitle">{{ serviceArea.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>ID</th>
      <td>{{ serviceArea.id }}</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td>{{ serviceArea.owner }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>
        {% if serviceArea.products | length %}
        <ul>
          {% for product in serviceArea.products %}
            <li><a href="/products/{{ product.id }}">{{ product.attributes.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
