{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Service Areas" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Service Areas", []) }}

  <h1>Service Areas</h1>

  <table id="serviceAreasTable" class="stripe">
    <thead>
      <tr>
        <th>Name</th>
        <th>Service Owner</th>
        <th>Products</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Service Owner</th>
        <th>Products</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/serviceAreas.js"></script>
{% endblock %}
