{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + serviceArea.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb(serviceArea.name, [{title: "Service Areas", href: "/service-areas"}]) }}

<h1 data-test="detail-page-title">{{ serviceArea.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>ID</th>
      <td data-test="service-area-id">{{ serviceArea.sa_id }}</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td data-test="service-area-owner">{{ serviceArea.owner }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>
        {% if serviceArea.products | length %}
        <ul>
          {% for product in serviceArea.products %}
            <li>
              <a class="govuk-link--no-visited-state govuk-!-margin-bottom-0 govuk-!-margin-top-3 govuk-heading-s" href="/products/{{ product.slug }}" data-test="product-{{ product.id }}">{{ product.name }}</a>
              <ul>
              {% for component in product.components %}
                <li><a class="govuk-link--no-visited-state" href="/components/{{component.name}}" data-test="product-{{ product.id }}-component-{{ component.id }}">{{component.name}}</a></li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
        {% else %}
        <p data-test="no-products">None</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Links</th>
      <td>
       <ul>
         <li><a class="govuk-link--no-visited-state" href="/service-areas/{{ serviceArea.slug }}/diagram">
             View product diagram
          </a></li>
          <li><a class="govuk-link--no-visited-state" href="/monitor/serviceArea/{{ serviceArea.slug | toMonitorName }}">
             Health Monitor
          </a></li>
          <li><a class="govuk-link--no-visited-state" href="/drift-radiator/service-areas/{{ serviceArea.name | toMonitorName }}">
             Deployment drift
          </a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>

{% endblock %}
