{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Service Areas" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Service Areas</h1>

  <table id="serviceAreasTable" class="stripe">
  	<thead>
	  <tr>
		<th>Name</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/serviceAreasTable.js"></script>
{% endblock %}
