{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + serviceArea.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

<h1 data-test="detail-page-title">{{ serviceArea.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>ID</th>
      <td data-test="service-area-id">{{ serviceArea.id }}</td>
    </tr>
    <tr>
      <th>Owner</th>
      <td data-test="service-area-owner">{{ serviceArea.owner }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>
        {% if serviceArea.products | length %}
        <ul>
          {% for product in serviceArea.products %}
            <li><a href="/products/{{ product.attributes.slug }}" data-test="product-{{ product.id }}">{{ product.attributes.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p data-test="no-products">None</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Links</th>
      <td>
       <ul>
          <li><a class="govuk-link--no-visited-state" href="/monitor/serviceArea/{{  serviceArea.name | toMonitorName }}">
             Health Monitor
          </a></li>
          <li><a class="govuk-link--no-visited-state" href="/drift-radiator/service-areas/{{ serviceArea.name | toMonitorName }}">
             Deployment drift
          </a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
{% endblock %}
