{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + team.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb(team.name, [{title: "Teams", href: "/teams"}]) }}

<h1 data-test="detail-page-title">{{ team.name }}</h1>

<table class="componentData">
  <tbody>
    <tr>
      <th>ID</th>
      <td data-test="team-id">{{ team.id }}</td>
    </tr>

      <tr>
        <th>Slack</th>
        <td data-test="Slack channel">
        {% if team.slackChannelId | length %}
          <a class="govuk-link--no-visited-state" href="slack://channel?team=T02DYEB3A&id={{ team.slackChannelId }}">
          <image src="/assets/images/slack_favicon_32.png" width="32" height="32"></image>
          {% if team.slackChannelName | length %}
          #{{ team.slackChannelName }}
          {% else %}
          Link
          {% endif %}
          (opens slack)</a>
        {% else %}
           No team slack &#129301; - please provide one.
        {% endif %}
        </td>
      </tr>
    <tr>
      <th>Products</th>
      <td>
        {% if team.products | length %}
        <ul>
          {% for product in team.products %}
            <li><a href="/products/{{ product.slug }}" data-test="product-{{ product.id }}">{{ product.name }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <p data-test="no-products">None</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Links</th>
      <td>
       <ul>
          <li><a class="govuk-link--no-visited-state" href="/monitor/team/{{  team.slug | toMonitorName }}">
             Health Monitor
          </a></li>
          <li><a class="govuk-link--no-visited-state" href="/drift-radiator/teams/{{ team.name | toMonitorName }}">
             Deployment drift
          </a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>

{% endblock %}
