{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Teams" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb("Teams", []) }}

  <h1>Teams</h1>

  <table id="teamsTable" class="stripe">
    <thead>
      <tr>
        <th class="govuk-!-width-one-quarter">Name</th>
        <th class="govuk-!-width-one-quarter"><span class="slack-header"> Slack (opens app)</span></th>
        <th>Products</th>
        <th class="app-!-width-one-seventh">Links</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th><image src="/assets/images/slack_favicon_32.png" width="32" height="32"></image> Slack (opens app)</th>
        <th>Products</th>
        <th>Links</th>
      </tr>
    </tfoot>
  </table>
  <div class="banner">
    <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/teams.js"></script>
{% endblock %}
