{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Teams" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Teams</h1>

  <table id="teamsTable" class="stripe">
  	<thead>
	  <tr>
		<th>Name</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/teams.js"></script>
{% endblock %}
