{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + trivyScan.name %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

{{ breadCrumb(trivyScan.name, [{title: "Trivy Scan ", href: "/trivy-scans"}]) }}

  <h1 data-test="detail-page-title">Trivy scan report for {{ trivyScan.name }}</h1>
  <p><strong>Build Image Tag:</strong> {{ trivyScan.build_image_tag }}</p>
  <p><strong>Environments Image deployed on:</strong> 
    {% for environment in trivyScan.environments %}
      {{ environment }}{% if not loop.last %}, {% endif %}
    {% endfor %}
  </p>
  <p><strong>Scan Timestamp:</strong> {{ scanDate}}</p>

  <h2>Scan Summary </h2>
    
  <table class="stripe">
    <thead>
      <tr>
        <th>Category</th>
        <th>Severity</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {% for row in summaryTable %}
        <tr>
          <td>{{ row.category }}</td>
          <td>{{ row.severity }}</td>
          <td>{{ row.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Scan Results</h2>

  <!-- Hyperlinks -->
  <ul>
    <li><a href="#vulnerabilities">Vulnerabilities</a></li>
    <li><a href="#secrets">Secrets</a></li>
  </ul>

  <!-- Vulnerabilities Table -->
  <h2 id="vulnerabilities">Vulnerabilities</h2>
  <table border="1" style="table-layout: fixed; width: 100%; text-align: left;">
    <thead style="background-color: grey; color: white">
      <tr>
        <th style="width: 10%;">Category</th>
        <th style="width: 10%;">Severity</th>
        <th style="width: 15%;">Vulnerability ID</th>
        <th style="width: 10%;">Package</th>
        <th style="width: 35%;">Description</th>
        <th style="width: 10%;">Installed Version</th>
        <th style="width: 10%;">Fixed Version</th>
      </tr>
    </thead>
    <tbody>
      {% for row in vulnerabilitiesResultsTable %}
        <tr 
          {% if row.severity == "HIGH" or row.severity == "CRITICAL" %}
            style="font-weight: bold;"
          {% endif %}
        >
          <td>{{ row.category }}</td>
          <td>{{ row.severity }}</td>
          <td><a href="{{ row.PrimaryURL }}">{{ row.vulnerabilityID }}</a></td>
          <td>{{ row.pkgName }}</td>
          <td>{{ row.description }}</td>
          <td>{{ row.installedVersion }}</td>
          <td>{{ row.fixedVersion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Secrets Table -->
  <h2 id="secrets">Secrets</h2>
  <table border="1" style="table-layout: fixed; width: 100%; text-align: left;">
    <thead style="background-color: grey; color: white">
      <tr>
        <th style="width: 10%;">Category</th>
        <th style="width: 10%;">Severity</th>
        <th style="width: 30%;">Description</th>
        <th style="width: 20%;">File Path</th>
        <th style="width: 10%;">Line Number</th>
        <th style="width: 20%;">Additional Context</th>
      </tr>
    </thead> 
    <tbody>
      {% for secret in secretResultTable %}
        <tr 
          {% if secret.severity == "HIGH" or secret.severity == "CRITICAL" %}
            style="font-weight: bold;"
          {% endif %}
        >
          <td> Secret </td>
          <td>{{ secret.severity }}</td>
          <td>{{ secret.description }}</td>
          <td>{{ secret.filePath }}</td>
          <td>{{ secret.lineNumber }}</td>
          <td>{{ secret.additionalContext }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}


{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/assets/js/dayjs/dayjs.min.js"></script>
  <script src="/assets/js/dayjs/plugin/relativeTime.js"></script>
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/trivyScan.js"></script>
{% endblock %}
