{% extends "../partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Veracode" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{{ breadCrumb("Veracode", []) }}

  <h1>Veracode Scan Results</h1>
  <form method="GET" action="/veracode">
    <input type="hidden" name="monitorName" id="monitorName" value="{{ monitorName }}">
    <input type="hidden" name="monitorType" id="monitorType" value="{{ monitorType }}">
    <input type="hidden" name="_csrf" id="csrf" value="{{ csrfToken }}">
		<div class="veracode">
			<div class="veracode-filter-block">
				<div class="govuk-heading-s">Results</div>
				{{ govukCheckboxes({
					classes: "govuk-checkboxes--inline govuk-checkboxes--small environments",
					name: "results",
					items: [
						{
							id: "veracodepassed",
							value: "passed",
							text: "Passed",
							checked: false
						},
						{
							id: "veracodefailed",
							value: "failed",
							text: "Failed",
							checked: true
						},
						{
							id: "veracodeunknown",
							value: "unknown",
							text: "Unknown",
							checked: false
						}
					]
				}) }}
			</div>
			<div class="veracode-filter-block">
				<div class="govuk-heading-s">Exempted</div>
				{{ govukCheckboxes({
					classes: "govuk-checkboxes--inline govuk-checkboxes--small environments",
					name: "exemption",
					items: [
						{
							id: "veracodeexempt",
							value: "true",
							text: "Yes",
							checked: false
						},
						{
							id: "veracodenonexempt",
							value: "false",
							text: "No",
							checked: false
						}
					]
					}) }}
				</div>
			</div>
	</form>

  <table id="veracodeTable" class="stripe">
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Result</th>
				<th>Date</th>
				<th>Very High</th>
				<th>High</th>
				<th>Medium</th>
				<th>Low</th>
				<th>Score</th>
				<th>Report</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>Name</th>
				<th>Result</th>
				<th>Date</th>
				<th>Very High</th>
				<th>High</th>
				<th>Medium</th>
				<th>Low</th>
				<th>Score</th>
				<th>Report</th>
			</tr>
		</tfoot>
  </table>
  <div class="banner">
    <p>Last successful data collection by  {{ jobName }} at {{ lastSuccessfulRun }}</p>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/frontendInit.js"></script>
  
  <script src="/assets/js/common.js"></script>
  <script src="/assets/js/veracode.js"></script>
{% endblock %}
