{% extends "../partials/layout.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Components" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Veracode Scan Results</h1>
  <form>
    <input type="hidden" name="_csrf" id="csrf" value="{{ csrfToken }}">
		<div class="monitor-selectors govuk-button-group">
			{{ govukCheckboxes({
				name: "filters",
				fieldset: {
					legend: {
						text: "Select the filters you want to apply",
						isPageHeading: false
					}
				},
				items: [
					{
						value: "passed",
						text: "Passed",
						checked: false
					},
					{
						value: "failed",
						text: "Failed",
						checked: true
					},
					{
						value: "exempt",
						text: "Exempt",
						checked: false
					},
					{
						value: "nonExempt",
						text: "Non Exempt",
						checked: false
					}
				]
			}) }}
			{{ govukButton({
				id: "updateVeracodeFilters",
				name: "updateVeracodeFilters",
				text: "Update",
				element: "button"
			}) }}
		</div>
	</form>

  <table id="veracodeTable" class="stripe">
  	<thead>
	  <tr>
		<th>Name</th>
		<th>Result</th>
		<th>Very High</th>
		<th>High</th>
		<th>Medium</th>
		<th>Low</th>
		<th>Score</th>
		<th>Report</th>
	  </tr>
  	</thead>
  </table>

{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/veracodeTable.js"></script>
{% endblock %}
